%h1 Abilities List
%p
   %h3 Basic Abilities
   %p 
      1. Attack: This basic action causes your character to attack with thier base defense and power values.
   %p
      2. Guard: This basic action causes your character to raise their defense and armor by 3, but you do not attack.
   %p
      3. Focus: This basic action causes your character to regain MP, but you do not attack.
   %h3 Advanced Abilities
   %p
      4. Accurate Attack: This advanced ability attacks with a boost to the attack attribute.
      %p
         5. Powerful Attack: This advanced ability attacks with a boost to the power attribute.
      %p
         6. Reckless Attack: This advanced ability attacks with much higher power, but with less attack
      %p
         7. Overwhelming Attack: This advanced ability attacks with higher power and attack 
      %p
         8. Focusing Action: This advanced ability grants the user the <b>Mana Focus</b> status condition
      %p
         9. Defense Boost: This advanced ability grants the user the Defense Boost status condition
      %p 
         10. Attack Boost: This advanced ability grants the user the Attack Boost Status Condition
      %p
         11. Armor Boost: This advanced ability gives the user the <b>armor boost</b> condition.
      %p 
         12. Power Boost: This advanced ability gives the user the <b>power boost</b> condition.
      %p
         13. Poisoning Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>posion</b> condition
      %p
         14. Silencing Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>silence</b> condition.
      %p
         15. Confusing Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>confuse</b> condition.
      %p
         16. Locking Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>mana lock</b> condition.
      %p
         17. Guard Break Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>defense down.</b> condition.
      %p
         18. Armor Break Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>armor down.</b> condition.
      %p 
         19. Attack Break Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>attack down.</b> condition.
      %p
         20. Power Break Attack: This advanced ability does a basic attack. If the attack is successful it grants the enemy the <b>power down.</b> condition.
      %p
         21. Charge. This advanced ability gives the user the <b>charge</b> condition.  
      %p 
         22. Summon Ally: This ability summons an ally to aid you on the battlefield
      %p
         23. Heal: This ability heals the user, restoring some of their hp.
