%h1 Welcome to Transformation Arena!

%h2 Important Notice:

%p
  Transformation-Arena! is a web-based game focused on Transformation. If you don't enjoy the thems of transformation, including Male to Female Transformation and more, please leave now.
%p
  This game is NOT intended for those under the age of 18. Adult themes, pictures, and text may be present on the site. While adult content can mostly be avoided, users under the age of 18 should not play this game.
%p
  = button_to 'I agree that I am at least of 18 years of age and wish to play the game.', authorize_18_path, :method => :post