%h1 Transformation Tag Descriptions

Note: Characters will oftentimes have more than one tag associated with their transformation.
%p
  %h3 Adult:
  %p
    The Adult Tag indicates the character's main descriptions, attack names, attack descriptions, transformation descriptions, or pictures contains adult content. Any picture that would not be suitable for a movie rating PG-13 falls under the Adult Category. If a description contains sexual content, the adult tag should also be used. If there is crude language, nudity, etc the Adult Tag should be used. Basically, if anything with the character would not be appropriate in a PG-13 movie, the adult tag MUST be used. If you're unsure, set the tag.
%p
  %h3 Male to Female:
  %p
    The Male to Female Tag means the transformation includes a male turning into a female. This is an exceptionally common form of transformation. For example, if Bob starts off as a male, and ends up as a girl when he transforms, then he should use the Male to Female tag.
%p
  %h3 Female to Male:
  %p
    The Female to Male Tag means the transformation includes a female turning into a male. While this isn't the most common form of transformation, it comes up. For example, if Alice starts of as a girl, and turns into "Alan", a man, then Alice should have the "Female to Male" tag.
%p
  %h3 Race Change:
  %p
    The Race Change tag indicates that during the transformation, the character will change their ethnicity. This from of TF is common, and oftentimes is mixed with other types, such as Male to Female gender shift. For example, if Bob is a caucasian man, and ends up turning into an African American woman, he should use the Race Change tag.
%p
  %h3 Age Regression:
  %p
    The Age Regression tag indicates that during the transformation, the character will change their age, getting younger. This from of TF is common, and oftentimes is mixed with other types, such as Male to Female gender shift. For example, if Bob is 30 years old, and ends the transformation as a 5 year old, he should use the Age Regression Tag.
%p
  %h3 Age Regression:
  %p
    The Age Regression tag indicates that during the transformation, the character will change their age, getting older. This from of TF is common, and oftentimes is mixed with other types, such as Male to Female gender shift. For example, if Bob is 10 years old, and ends the transformation as a 30 year old, he should use the Age Progression Tag.
%p
  %h3 Furry:
  %p
    The Furry tag indicates that the pictures, descriptions, or transformation include Anthropomorphized Animals, known oftentimes as "Furries". Furries are (generally speaking) animals with human characteristics, such as standing on two feet, humanoid muscular structure, animal fur, animal paws, animal muzzles/beaks etc. This is only used if the person is mostly animal. For example, if Alice a human girl with cat ears and a cat tail, she does NOT need to use the furry tag. If Alice also is covered in fur and has a cat-like head, then she should use the furry tag.
%p
  %h3 Animal:
  %p
    The Animal tag indicates that transformation features a human (or furry possibly) turning into an animal. They do NOT turn into an Anthropomorphized Animal, they instead turn into a relatively normal member of the species. For example, if Alice is turned into a normal Sheep as part of her transformation, then she should include the Animal tag.
%p
  %h3 Futanari/Hermaphrodite Tag:
  %p
    The Hermaphrodite tags indicates that the pictures, descriptions, or transformation include Futanari or Shemales respectively. Futanari is a japanese word for a hermaphroditic individual. For example, a person with the secondary sexual characterstics of a woman (breasts, body type etc) and the genital organs of a man (i.e. a penis) should have the Hermaphrodite tag. This tag also includes the opposite, for example a person with male secondary traits and female gential organs. Unlike other tags, this tag should be included even if the transformation itself doesn't focus on the Futanari or Shemale traits. Other Hermaphroditic pictures/descriptions should use one of this as well.
%p
  %h3 Mental Change:
  %p
    The Mental Change tag indicates that as a result of the transformation the character will undergo some signficant change in their psychological state. This can be a variety of things. They may lose much of their intelligence, become obsessed with sex, change from a "Jock" sterotype to a kind "Nerd" sterotype, become corrupted with evil thoughts or be purified with good thoughts or much more. This change usually also reflects change in memories and reality. For example, if Bob is a Football Player and he changes into Bobbi the Cheerleader in mind, body, and history, then he should use the Mental Change tag. Note, this is rarely truly a visible change, it's usually reflected in the writing instead.
%p
  %h3 BDSM / Heavy Rubber / Heavy Latex:
  %p
    This tag is for any pictures, descriptions, or transformations that contain BDSM, Heavy Rubber, or Heavy Latex content. BDSM stands for "Bondage, Domination, Sadism, Masochism". It's a particularly popular fetish. Heavy Rubber/Latex means during the transformation (or simply in the pictures), the subject will be bound in latex or rubber nearly completely. A "spy catsuit" doesn't need this tag, but a "gimp suit" would. While they are separate fetishes, they still share the same tag.
%p
  %h3 Pregnant:
  %p
    The Pregnant tag indicates that the pictures, descriptions, or transformation include Pregnant women. It is surprisingly common in TF artwork and stories, especially when Male to Female transformation is involved. For example, if Bob starts off as a man, and becomes a pregnant woman, he should include the pregnant tag. If Alice starts off as a pregnant woman, she should also inlude the pregnant tag.
%p
  %h3 Inanimate
  %p
    The Inanimate tag indicates that the transformation includes a previously animate creature or person turning into an inanimate object. Common transformations include people turning into statues or clothing, though hypothetically the person could turn into any object. For example, if Bob is transformed into a golden statue, then he should use the Inanimate tag.
%p
  %h3 Growth / Expansion / Inflation
  %p
    The Growth tag indicates the character grows in size far beyond what a normal human should. It does NOT count normal growth from aging, that is covered by the Age Progression Tag. There are other subgenres of Growth, such as Expansion, where particular body parts are expanded to incredible size, or inflation, where people are inflated similar to balloons (although inflation should also include the "Bizarre" tag). For example, if Bob changes from 5 feet tall to 70 feet tall, he should use the Growth tag.
%p
  %h3 Shrinking
  %p
    The Shrinking tag indicates the character shrinks in size far beyond what a normal human should. It does NOT count normal loss of height from loss of age, that is covered by the Age Regression Tag. This is for when a person is shrunk down. For example, if Alice is initially 5 feet tall, and up 5 inches tall, she should use the shrinking tag.
%p
  %h3 Weight Gain
  %p
    The Weight gain tag indicates the character gains a significant amount of weight from the transformation. This is almost always shown as the character becoming obese, with varying degrees of obesity. For example, if Alice started off very thin and ends up morbidly obese as a result of the transformation, then Alice should have the Weight Gain Tag
%p
  %h3 Fantasy/Mythical
  %p
    The Fantasy tag indicates the character's transformation is focused on some kind of creature or fantasy archetype. This is a catch-all term for demons, angels, elves, pixies, centaurs, wizards and more. If it belongs in a typical fantasy novel or video game, than it should have this tag. For example, if Alice is tranformed into an evil Succubus demon, then she should have the fantasy tag.
%p
  %h3 Robot/Cyborg or Science Fiction
  %p
    The robot/Cyborg tag indicates the character's transformation includes the character turning into either a robot or cyborg. This means they basically become at least partially mechanical, including chrome limbs or the entire body. This tag also covers other Science Fiction transformations, such as turning into aliens. If Bob turns into a stylish feminine robot, then he should have the Robot/Cyborg Tag.
%p
  %h3 Bimbo
  %p
    The Bimbo tag indicates the character's transformation involves turning into a "bimbo". As far as transformative based fiction goes, "bimbos" are women characterized by their sex appeal, stupidity, obsession with fashion and/or sex, as well as a "Valley Girl" tone of voice. They typically have trouble understanding anything complicated. They almost always have incredibly sexy feminine bodies, and generically have blonde hair, though other colors are fine as well. If Bob turns into a blonde, stupid, sex-obsessed woman wearing a tiny mini-dress, he likely deserves a bimbo tag.
%p
  %h3 Monster Girl
  %p
    The Monster Girl tag indicates the transformation or initial forms include "Monster Girls". Monster girls are women typically dressed up as/mimicking various monsters, in a way that looks far more cute and/or sexy than normal. For examples, check out something like this: http://monstergirlencyclopedia.wikia.com/wiki/Dragon Monster girls can be a lot of fun. If Alice turns into a girl with dragon wings, horns, and a dragon tail, she probably deserves the "Monster Girl" tag.
%p
  %h3 Bizarre
  %p
    The Bizarre tag is a general tag for very strange, possibly disturbing for some TF that defies any of the other categories. For example, men or women might turn into giant phallus, penises might grow out of a woman's nipples, men or women may have many genitalia at odd places on their bodies, a woman may become a rubbery mass of tentacles and disturbing mouths, etc. These defy normal explanation and are oftentimes very strange to look at. If your TF is especially strange, please put the bizarre tag on it.
